*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Neucha', cursive;
  font-size: 25px;
  font-weight: 900;
}
.wrapper{
  position: relative;
  height:100vh;
  /* border: 1px solid black; */
  background-repeat: no-repeat;
  background-size: contain;
  
  display: flex;
  justify-content: center;
  
}
.content{
  position: absolute;
  display: flex;
  justify-content: center;
}
.todo{
  position: absolute;
  /* border: 1px solid black; */
  width: 440px;
  right: -200px;
  height: 430px;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -o-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
.taskList{
  transition: 10s;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList div:focus{
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.39) solid;
} 
.nametask{
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  display: flex;
  align-items: center;
}
.task{
  width: 360px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.788);
}

.formForCreate{
  display: flex;
  margin: 20px 20px 0px 20px;
}
.addNewTask{
  border: none;
  height: 39px;
  padding: 0px 10px;
  border-radius: 5px;
  margin-left: 2px;
  color: aliceblue;
  background-color: black;
}
.topAlertElements{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
.bottomAlertElements{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.popUpForMaxTask{
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: absolute;
  left: 31px;
  top: 405px;
}

.popUpForForm{
  width: 318px;
  position: relative;
  left: -29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter{
  display: flex;
  align-items: center;
}
.createNameForNewTask{
  width: 320px;
  height: 40px;
  font-weight:700;
 
  border-radius: 5px;
}
.stick{
  position: absolute;
  top: 75px;
  width: 550px;
 
}
body{
  justify-content: center;
  background: white;
}
.text_decoration{
  text-decoration-line: line-through;
}
.undone{
  background: url("img/undone.png") no-repeat;
  background-size:contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.done{
  background: url("img/done1.png") no-repeat;
  background-size:contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.delete{
  border: 2px rgb(73, 2, 2) solid;
  border-radius: 5px;
  background: url("img/close.png") no-repeat;
  background-size:contain;
  width: 33.5px;
  height: 33.5px;
  cursor: pointer;
}

@media screen and (max-width: 1000px){ 
  .stick{
    position: absolute;
    top: 50px;
    width: 370px;
  }
  .taskList{
    width: 240px;
    margin: 7px;
  }
  .todo{
    position: absolute;
    /* border: 1px solid black; */
    width: 280px;
    right: -130px;
    height: 280px;
    top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .createNameForNewTask{
    width: 210px;
    height: 30px;
    font-weight:700;
    border-radius: 5px;
  }
  *{
    font-size: 18px;
  }
  .undone{
    width: 20px;
    height: 20px;
  }
  .done{
    width: 20px;
    height: 20px;
  }
  .delete{
    width: 17.5px;
    height: 17.5px;
  }
  .addNewTask{
    height: 30px;
    padding: 0px 5px;
  }
  .formForCreate{
    margin: 10px 10px 0px 10px;
  }
  .nametask{
    width: 200px;
  }
  .task{
    width: 240px;
  }
  .popUpForForm{
    width: 200px;
    left: -21px;
    font-size: 10px;
    margin-top: 2px;
  }
  .popUpForMaxTask{
    width: 200px;
    left: 21px;
    top: 250px;
  }
  .topAlertElements{
    font-size: 12px;
  }
  .bottomAlertElements{
    font-size: 12px;
  }
} 
  
