*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Neucha', cursive;
  font-size: 25px;
  font-weight: 900;
}
.wrapper{
  position: relative;
  height:100vh;
  /* border: 1px solid black; */
  background-repeat: no-repeat;
  background-size: contain;
  
  display: flex;
  justify-content: center;
  
}
.content{
  position: absolute;
  display: flex;
  justify-content: center;
}
.todo{
  position: absolute;
  /* border: 1px solid black; */
  width: 440px;
  right: -200px;
  height: 430px;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -o-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(-8deg);
}
.todos{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos div:focus{
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.39) solid;
} 
.nametask{
  cursor: pointer;
  width: 300px;
  display: flex;
  align-items: center;
}
.task{
  width: 360px;
  display: flex;
  color: rgba(0, 0, 0, 0.788);
}
.task img{
  filter: invert(50%);
}
.task img:hover{
  cursor: pointer;
  filter: invert(0%);
}
.input{
  margin: 20px;
}
.setTodo{
  width: 360px;
  height: 40px;
  font-weight:700;
 
  border-radius: 5px;
}
.stick{
  position: absolute;
  top: 75px;
  width: 550px;
 
}
body{
  justify-content: center;
  background: white;
}
.text_decoration{
  text-decoration-line: line-through;
}
.undone{
  background: url('../img/undone.png') no-repeat;
  background-size:contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.done{
  background: url('../img/done.png') no-repeat;
  background-size:contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}